body{
  background-color: #363636;
}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 600px;
  max-width: 70px;
  border-radius: 10px;
  background-color:#ffff;
}

.container i{
  font-size: larger;
  color: #6a778e;
  padding: 20px;
}